.Input {
  margin: 5px 10px;
  max-width: 70%;
  width: 70%;
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;

  button {
    border: none;
  }

  .input-wrapper {
    width: 100%;

    input {
      width: 100%;
      padding: 10px 0;
      border: 1px solid rgba(182, 177, 177, 0.493);
    }
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &:first-child {
      background: rgba(151, 219, 249, 0.288);
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
    }
  }
}

.extra {
  width: 15px;
}
