.ChatContainer {
  max-width: 80vw;
  width: 80vw;
  //   border: 1px solid rgba(182, 177, 177, 0.493);
  border-collapse: collapse;

  .avatar {
    // position: relative;
  }

  .message-wrapper {
    // position: absolute;
    // left: 75px;
    // top: 40px;
  }
}
