.ChatItemContainer {
  padding: 12px 0 12px 12px;
  display: flex;
  flex-direction: row;
  cursor: pointer;

  .img-wrapper {
    height: 45px;
    padding-right: 10px;

    img {
      height: inherit;
      overflow: hidden;
      border-radius: 7px;
    }
  }

  .content {
    div {
      display: flex;
      justify-content: space-between;
      //background: pink;
      height: 13px;
      span {
      }
    }

    &-text {
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 250px;
      height: 1.2em;
      white-space: nowrap;
    }
  }
}

.selected {
  background: rgba(191, 224, 235, 0.377);
}

.default {
  background: rgba(244, 246, 247, 0.377);
}
