.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(184, 182, 182, 0.267);
  padding: 25px;
  font-size: 20px;
  .icon {
    padding-right: 10px;
  }
}
