.AvatarContainer {
  padding: 12px 0 12px 12px;
  display: flex;
  flex-direction: row;

  .img-wrapper {
    width: 32px;
    height: 32px;
    padding-right: 10px;

    img {
      //width: inherit;
      height: inherit;
      overflow: hidden;
      border-radius: 7px;
    }
  }

  .content {
    div {
      display: flex;
      justify-content: space-between;
      height: 13px;
    }
  }
}
