.NewMessage {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 15px;

  .message {
    color: #407ec9;
    background: rgba(64, 126, 201, 0.08);
    padding: 10px 100px 5px 100px;
    max-width: 700px;
    width: 700px;
    display: flex;
    justify-content: center;

    span {
      text-align: center;
    }
  }

  .time {
    color: rgba(94, 183, 243, 0.747);
    background: rgba(208, 224, 247, 0.185);
    padding: 5px 15px;
  }

  .extra {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Dialog Title */

    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: #000000;
  }
}
