.Message {
  overflow-y: auto;
  height: 75vh;
  max-width: 100%;
  padding-top: 10px;

  .left {
    justify-content: flex-start;
  }

  .right {
    justify-content: flex-end;
  }

  .sender {
    margin-left: 70px;
    // background: #f3f3f3;
  }

  .own {
    margin-right: 50px;
  }
  .self-color {
    background: rgba(64, 126, 201, 0.16);
  }

  .message {
    max-width: 100%;
    border-radius: 3px;
    margin-bottom: 15px;
    display: flex;

    div {
      max-width: inherit;
      display: flex;
      justify-content: space-between;

      img {
        width: inherit;
      }
    }

    span {
      font-size: 12px;
    }

    div {
      width: 45%;
      background: #f3f3f3;
      padding: 10px 10px 10px 30px;
      display: flex;

      span {
        display: flex;
        align-self: flex-end;
      }
    }
  }
}
